body{
	background-color: #00007D;
	color: #CCCCF0;
}

#title{
	font-family: 'Abel';
	font-size: 70px;
}

#words{

	font-family: 'Abel';
	font-size: 50px;

}

#status-container{

	position: absolute;

	margin-top: -50px;

	width: 80%;
	height: 35px;

	left: 50%;

	transform: translateX(-50%);

	font-family: 'Abel';
	font-size: 30px;
	text-align: center;

	background: red;

	border-radius: 10px;
}

/* The input box container */
#word-input-container{
	position: absolute;

	bottom: 10%;
	left: 50%;

	width: 500px;
	height: 50px;

	border: 5px solid #FF8E45;
	border-radius: 10px;

	background: #FFD4A9;

	transform: translateX(-50%);

	text-align: center;

}

/* The input box */
#word-input {

	border: none;
	border-radius: 10px;

	position: relative;

	width: 500px;
	height: 50px;

	background: #FFD4A9;

	font-family: 'Abel';
	font-size: 40px;
	text-align: center;
}

/* Make sure that the text box doesn't get highlighted when the cursor is inside it */
#word-input:focus{
	outline-width: 0;
}

#word-input-go{

	border: 5px solid #FF8E45;
	border-radius: 10px;

	position: relative;

	width: 70px;
	height: 50px;

	top: 15px;

	background: #FFD4A9;

	font-family: 'Abel';
	font-size: 35px;
	text-align: center;

}
